certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
colorlog==4.0.2
cryptography==2.9.2
decorator==4.4.2
django==1.11.28
django-debug-toolbar==2.2
django-redis==4.11.0
django-redis-cache==2.1.0
django-tinymce==3.0.2
filetype==1.0.5
har2case==0.3.1
httprunner==2.3.3
idna==2.8
Jinja2==2.11.3
jsonpath==0.82
MarkupSafe==1.1.1
middleware==1.2.3
numpy==1.18.3
pandas==1.0.3
Pillow==5.4.1
psutil==5.7.0
pycparser==2.20
pycryptodomex==3.9.4
PyMySQL==0.9.3
pyOpenSSL==19.1.0
pyte==0.8.0
python-alipay-sdk==2.0.1
python-dateutil==2.8.1
pytz==2019.2
PyYAML==5.2
redis==3.4.1
requests==2.22.0
requests-toolbelt==0.9.1
six==1.12.0
sqlparse==0.3.1
thefuck==3.30
urllib3==1.25.7
wcwidth==0.1.9
win-unicode-console==0.5
wxPython==4.0.0b2
