/*底部图标和文字*/
footer .mine span {
    background: url(/static/img/mine_selected.png) no-repeat;
    background-size: 0.513889rem;
}

footer .mine dd{
    color:orange;
}
/*内容容器*/
#mine {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: +10;
  background: whitesmoke;
  overflow: hidden;
  padding-top: 4rem;
  padding-bottom: 1.5rem; }



.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4rem;
  background: pink;
  padding-top: 0.5rem; }

/*未登陆的默认头像*/
.fixed > span {
  display: block;
  width: 2rem;
  height: 2rem;
  float: left;
  margin: 0 0.3rem 0;
  font-size: 1.5rem;
  color: black;
  background: white;
  text-align: center;
  border-radius: 50%;
  line-height: 1.8rem; }

/*已登录用户的头像*/
.fixed > span >.u_icon{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.fixed p {
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
  color: white; }
.fixed p span:first-child {
  color: red; }
.fixed p span:last-child {
  color: white;
  display: inline-block;
  text-indent: 0.3rem; }
#regis {
  position: absolute;
  right: 0.3rem;
  top: 1.3rem;
  color: white;
  font-size: 1rem; }
.fixed p:last-child {
  background: #f0e000;
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0;
  margin-bottom: 0;
  font-size: 0.5rem;
  line-height: 0.5rem;
  height: 1rem; }
.fixed p:last-child span {
  margin: 0.2rem 0rem; }

/*我的中的各种*/
.minepage {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 1.5rem;
  font-size: 0.4rem;}
.minepage p {
  line-height: 1.5rem;
  padding: 0 0.3rem;
  background: white;
  border-bottom: 0.04rem solid lightyellow; }
.minepage p a {
  color: grey;
  float: right; }


.minepage #nav, .minepage menu {
  padding: 0.5rem 0 0.3rem;
  margin-bottom: 0.4rem;
  background: white; }
.minepage #nav ul, .minepage menu ul {
  display: flex;
  justify-content: space-around; }
.minepage #nav ul li dl, .minepage menu ul li dl {
  text-align: center; }

.minepage #nav ul li dl >span {
  position: absolute;
  color: white;
  background: red;
}

.minepage #nav ul li dl dt, .minepage menu ul li dl dt {
  width: 100%;
  line-height: 1rem; }
.minepage #nav ul li dl dt span, .minepage menu ul li dl dt span {
  font-size: 0.5rem; }
.minepage menu ul {
  flex-wrap: wrap; }
.minepage menu ul li {
  width: 25%; }
.minepage menu ul li:last-child {
  width: 100%; }
.minepage menu ul li:last-child dl {
  width: 25%; }
.minepage p:last-child > a {
  line-height: 1.5rem;
  text-align: center;
  width: 100%;
  display: block;
  float: none; }
