{% extends 'base.html' %}
{% load static %}
{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'axf/main/css/main.css' %}">
{% endblock %}

{% block ext_js %}
    <script type="text/javascript">
    token=window.localStorage.getItem('token');
    $(function () {
        $('.mine').click(function () {
            window.open('/app/mine/?token='+token,target='_self');
        });
        $('.cart').click(function () {
            window.open('/app/cart/?token='+token,target='_self');
        })
    })
    </script>
{% endblock %}

{% block header %}
    <header>
    </header>
{% endblock %}

{% block footer %}
    <footer>
        <a href="{% url 'app:home' %}" class="home">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>首页</dd>
            </dl>
        </a>
    <a href="{% url 'app:market' %}" class="market">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>闪购</dd>
            </dl>
        </a>
    <a href="#" class="cart">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>购物车</dd>
            </dl>
        </a>

    <a href="#" class="mine">
            <dl>
                <dt>
                    <span></span>
                </dt>
                <dd>我的</dd>
            </dl>
        </a>
    </footer>
{% endblock %}